absl-py==0.5.0
astor==0.7.1
astroid==2.4.2
attrs==21.4.0
backcall==0.2.0
backports.weakref==1.0rc1
Bashutils==0.0.4
bleach==1.5.0
cachetools==4.2.4
certifi==2021.10.8
chardet==4.0.0
cloudpickle==0.5.6
cycler==0.10.0
Cython==0.29.26
dask==0.19.3
decorator==4.3.0
defusedxml==0.7.1
distlib==0.3.4
einops==0.4.0
entrypoints==0.3
filelock==3.2.1
future==0.18.2
gast==0.2.0
google-auth==1.23.0
google-auth-oauthlib==0.4.1
grpcio==1.41.1
h5py==2.8.0
html5lib==0.9999999
idna==2.10
imageio==2.9.0
importlib-metadata==2.1.3
importlib-resources==3.2.1
ipython==7.9.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
Jinja2==2.11.3
joblib==0.14.1
jsonpatch==1.26
jsonpointer==2.0
jsonschema==4.0.0
jupyter-client==6.1.13
jupyter-core==4.6.3
Keras==2.1.1
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keras-vis==0.4.1
kiwisolver==1.0.1
language-selector==0.1
layers==0.1.5
lazy-object-proxy==1.4.3
lightdm-gtk-greeter-settings==1.2.1
louis==2.6.4
lpips==0.1.4
lxml==3.5.0
Mako==1.0.3
Markdown==3.0.1
MarkupSafe==0.23
mate-tweak==3.5.10
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
msgpack==0.6.2
msgpack-numpy==0.4.4.3
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.2
numpy==1.18.5
oauthlib==3.1.0
onboard==1.2.0
opencv-python==4.4.0.42
ortools==8.0.8283
pandas==0.24.2
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.0.1
pickleshare==0.7.5
Pillow==6.0.0
platformdirs==2.0.2
plyvel==1.2.0
polib==1.0.7
prompt-toolkit==2.0.10
protobuf==3.17.3
psutil==5.6.3
ptyprocess==0.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.3
pycparser==2.21
pycups==1.9.73
pycurl==7.43.0
Pygments==2.11.2
pygobject==3.20.0
pylint==2.5.3
pyparsing==2.2.2
pyrsistent==0.17.3
python-apt==1.1.0b1+ubuntu0.16.4.11
python-dateutil==2.7.3
python-debian==0.1.27
python-systemd==231
pytorch-ignite==0.4.7
pytz==2021.3
PyWavelets==1.0.1
pyxdg==0.25
PyYAML==3.13
pyzmq==18.1.0
reportlab==3.3.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.14.1
scikit-learn==0.22.2.post1
scipy==1.1.0
screen-resolution-extra==0.0.0
seaborn==0.9.1
selenium==3.141.0
sessioninstaller==0.0.0
six==1.12.0
sklearn==0.0
slip==0.6.1
slip.dbus==0.6.1
some-package==0.1
ssh-import-id==5.5
tabulate==0.8.5
tensorboard==1.13.1
tensorboard-plugin-wit==1.8.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.11.0
tensorpack==0.9.8
termcolor==1.1.0
testpath==0.6.0
tflearn==0.3.2
thop==0.0.31.post2001170342
toml==0.10.1
toolz==0.9.0
torch==1.5.1
torchfile==0.1.0
torchnet @ git+https://github.com/pytorch/tnt.git@32ab2bcb3851adab079123f2e8584bb307e04fd5
torchsummary==1.5.1
torchvision==0.6.1
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
typed-ast==1.4.1
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.26.7
usb-creator==0.3.0
virtualenv==20.14.0
visdom==0.1.8.9
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==0.14.1
wget==3.2
wrapt==1.12.1
xkit==0.0.0
zipp==1.2.0
